@charset "UTF-8";
*{
	padding : 0;
	margin : 0;
}

#menu{
	display : flex;
	flex-wrap : wrap;
	flex-direction: row;
	justify-content: space-evenly;
}

#join{
	display:flex;
	flex-wrap : wrap;
	flex-direction: row;
	justify-content: flex-end;
}

#login{
	margin-right: 6px;
}
li{
	list-style: none;
}